doctype
html
  head
      title LivreCamp
      include _partials/styles

  body.background.main
      .container
        .col-lg-9.col-center
            != yield
            include _partials/footer

include _partials/scripts
