.block
    .main-title
        img.logo(src="logo.png")
        h1 LivreCamp
    .subtitle
        | O LivreCamp é um grupo pró-liberdade que atua defendendo e
        | difundindo os princípios do software livre e da privacidade digital.
        | Acreditamos fundamentalmente na liberdade irrestrita do indivíduo e
        | na capacidade coletiva de gerir os direitos e deveres da comunidade
        | de maneira horizontal

.block
    h2 :: Eventos

    include _mixins/event

    table.eventos
        - var index = 0;
        each event in public.events._data
            - var past = "";
            if event.past
                - var past = "past";
            +event(index, event.title, event.date, past, event.place, event.description)
            - index++;

.block
    h2 :: Notícias

    include _mixins/article

    table.noticias
        - var counter = 0;
        each article, slug in public.articles._data
            if counter < 5
                +article(article.date, article.title, article.url)
                - counter++;
    if counter >= 5
        .readmore
            a(href="/articles") ler mais

.block
    h2 :: Canais

    table.canais
        tr
            td
                a(href="https://t.me/livrecamp")
                    i.fa.fa-telegram
                    span.text Telegram
            td
                a(href="https://github.com/LivreCamp")
                    i.fa.fa-github-alt
                    span.text Github

            td
                a(href="https://lists.riseup.net/www/subscribe/livrecamp")
                    i.fa.fa-envelope-o
                    span.text Lista de Email
        tr
            td
                a(href="https://groups.google.com/forum/#!forum/ajudalinux-livrecamp")
                    i.fa.fa-envelope-o
                    span.text Lista de Email de Dúvidas de Linux
            td
                a(href="https://www.facebook.com/LivreCamp")
                    i.fa.fa-facebook
                    span.text Facebook

