.header
    img.logo(src="../logo.png")

    .title
        span
            a(href="/") LivreCamp

    .links
        a.icon(href="", onclick="history.back(-1)")
            i.fa.fa-arrow-left
        a(href="https://github.com/LivreCamp/documentos")
            span.link documentos
        a(href="https://github.com/LivreCamp/documentos/wiki")
            span.link wiki
        a(href="https://t.me/livrecamp")
            span.link chat

    hr
