link(rel="stylesheet" href="/main.css")
script(src="https://use.fontawesome.com/42d9842c6a.js")
script(src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
  integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
  crossorigin="anonymous")
